#content-head
.header
  span.room-name Welcome to the lobby. Please chat and find a game.
  p.account-details Logged in as #{username} (#{real_name})

#content-body
  .message-box
    ul

#content-foot
  .input
    form(id='form-#{room_name}')
      input.entry(name='message')
      submit

script
  chat = new Chat();
  chat.attach('#{room_name}');

  chat.processEvents(!{events});
