p.account-details Logged in as #{username} (#{real_name})

div.chat-window(id='chat-#{room_name}')
  div.header room 
    span.room-name #{room_name}
  div.user-list
  div.message-box
    ul
  div.input
    form(id='form-#{room_name}')
      input.entry(name='message')
      submit

script
  chat = new Chat();
  chat.attach('#{room_name}');

  chat.processEvents(!{events});
